body {
	background: rgba( 0, 0, 0, 0.8);
	color: white;
}

input {
	background: #222;
	color: white;
	border: 3px solid #111;
	border-radius: 5px;
}

button {
	background: #222222;
	color: white;
	border: 3px solid #111;
	border-radius: 5px;
}

button:hover {
	background: #333;
}

button:focus {
	background: #444;
	border: 3px solid #333;
	outline: none;
}